/*--------------------------------------------------------------
# Left Block
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Left Block Content
--------------------------------------------------------------*/
.left-block-content {
    @include grid-width($col-12-width);
    @include center-block;
    h2, h3, p {
        max-width: px($col-9-width);
        max-width: rem($col-9-width);
    }
    color: $black;
}

/*--------------------------------------------------------------
# Left Photo Background
----------- ---------------------------------------------------*/
.left-photo-bg {
    background-color: $white;
    background-image: url('../../assets/images/blue.png');
    //border: 15px $black solid;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    //color: $brand-color;
    
}

h2 {
    font-weight: 600 !important;
    color: $orange;
}

p {
    font-weight: 300;
}
